<p style="color: green"><%= notice %></p>

<h1>Friends</h1>

<table class="table table-bordered">
    <thead  class="table-dark">
      <tr>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th>User ID</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
  <div id="friends">
    <% @friends.each do |friend| %>
      <% if current_user == friend.user %>
        <%= render friend %>
      <% end %>
    <% end %>
</table>
<% if user_signed_in? %>
  <%= link_to "New friend", new_friend_path %>
<% end %>
